<p>
  <strong>Full name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Expected hours:</strong>
  <%= @profile.expected_hours %>
</p>

<% if can? :update, @profile %>
  <%= link_to 'Edit', edit_user_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', user_path(@profile.user_id) %>
